* {
  padding: 0;
  margin: 0;
  background: #E5E5E5;
  font-family: Tahoma, Helvetica, Arial, sans-serif;
}

.img { grid-area: img; }
.adelie { grid-area: adelie; }
.chinstrap { grid-area: gentoo; }
.gentoo { grid-area: chinstrap; }
.filter { grid-area: filter; }
.chart { grid-area: chart; }

.grid-container {
  display: grid;
  grid-template-areas:
    'img adelie chinstrap gentoo'
    'filter chart chart chart' ;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 3fr;
  gap: 40px;
  height: 90vh;
  padding: 40px;
}

.item {
  text-align: center;
  padding: 0 0;
  border-radius: 20px;
  position: relative;
}

:root {
  --dk-sd: rgba(70,70,70,    0.08);
  --lt-sd: rgba(255,255,255, 0.65);
}

.img {
  overflow: hidden;
  border-radius: 100px;
  box-shadow: 
    -1px -1px 1px rgba(255,255,255,0.4),
    -1px 0px 1px rgba(255,255,255,0.4),
    0px -1px 1px rgba(255,255,255,0.4),
    1px 1px 1px rgba(70,70,70,0.12);
}

.pop-down {
  box-shadow: 4px 4px 8px var(--dk-sd) inset,
    -4px -4px 8px var(--lt-sd) inset;
}

.pop-up {
  box-shadow: -10px -10px 10px rgba(255,255,255,0.6),
    -10px 1px 10px rgba(255,255,255,0.6),
    1px -10px 10px rgba(255,255,255,0.6),
    0px 10px 10px rgba(70,70,70,0.08),
    10px 0px 10px rgba(70,70,70,0.12);
}

.chart {
  display: flex;
  overflow: hidden;
  background: white;
  gap: 40px;
  border: 0px solid #EFEFEF;
}

.chart-side{
  width: 50%;
  height: 101%;
}

.left-chart {
  border-radius-topleft: 20px;
  border-radius-bottomleft: 20px;
}
.right-chart {
  border-radius-topright: 20px;
  border-radius-bottomright: 20px;
}

.penguin-img {
  padding: 0;
  object-fit: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  opacity: 1;
  z-index: -99;
}

.container {
  width: 80%;
  margin: auto auto;
  margin-top: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  width: 50%;
  height: 50px;
  border-radius: 1px;
  cursor: pointer;
  position: relative;
  border: 1px solid #E5E5E5;
  box-shadow: 10px 10px 8px rgba(255,255,255,0.5) inset,
               -10px -10px 8px rgba(70,70,70,0.03) inset;
  transition: 200ms;
}

.button:hover {
  background: rgba(200,200,200, 0.3);
}

.button-3 {width: 33%}
.button-left {border-radius: 8px 1px 1px 8px;}
.button-right {border-radius: 1px 8px 8px 1px;}

.button:before {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 30px;
  font-size: clamp(14px, 1.7vw, 24px);
  color: rgba(180, 180, 180, 1);
  margin: 0;
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  transition: 440ms ease;
}

input:checked + .button::before {
  color: white;
}
input:checked + .btn-blu::before {
  text-shadow: 0 0 3px #acf, 0 0 6px #acf, 0 0 8px #acf;
}
input:checked + .btn-pnk::before {
  text-shadow: 0 0 2px #fac, 0 0 7px #fac, 0 0 10px #fac;
}
input:checked + .btn-grn::before {
  text-shadow: 0 0 1px #afa, 0 0 3px #afa, 0 0 5px #afa;
}
input:checked + .btn-pur::before {
  text-shadow: 0 0 3px #daf, 0 0 6px #daf, 0 0 8px #daf;
}

.btn-mal:before {
  content: "\f222";
  font-family: "Font Awesome 5 Free";
}
.btn-fem:before {
  content: "\f221";
  font-family: "Font Awesome 5 Free";
}
.btn-txt::before {font-size: clamp(8px, 1.0vw, 12px);}
.btn-ade:before {content: "Adelie";}
.btn-gen:before {content: "Gentoo";}
.btn-chn:before {content: "Chinstrap";}
.btn-bis:before {content: "Biscoe";}
.btn-drm:before {content: "Dream";}
.btn-tor:before {content: "Torgersen";}
.btn-2007:before {content: "2007";}
.btn-2008:before {content: "2008";}
.btn-2009:before {content: "2009";}

input:checked + .button {
  box-shadow: -5px -5px 10px 5px rgba(255,255,255,0.5) inset,
    -10px -10px 10px 5px rgba(255,255,255,0.5) inset,
    5px 5px 10px 5px rgba(70,70,70,0.05) inset,
    10px 10px 10px 5px rgba(70,70,70,0.05) inset;
}

input{
  display: none;
}

p {
  margin-top: 4vh;
  margin-left: 10%;
  width: 80%;
  color: #666;
  text-align: center;
}

.sum-stat {
  padding: 15px;
}

.ss-hd {
  margin: auto auto;
  padding: 0;
  width: 100%;
  text-align: center;
}

.ss-label {
  margin: 0;
  margin-left: 10%;
  padding-top: 14px;
  font-size: 10px;
  text-align: left;
  width: 80%;
}

.ss-label > span {
  color: #666;
  font-style: oblique;
}

.progress-group {
  width: 80%;
  height: 6px;
  margin: auto auto;
  margin-top: 6px;
  background-color: #eee;
  background-image: linear-gradient(90deg, 
    #CCC 0px 1px,
    transparent 1px 100% );
  border-radius: 20px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset,
    0 -2px 3px rgba(255, 255, 255, 0.25) inset;
}

.pg100 {
  background-size: 50% 50%;
}
.pg20 {
  background-size: 20% 50%;
}
.pg10 {
  background-size: 10% 50%;
}

.progress {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0);
}

.progress-bar {
  height: 100%;
  box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.25) inset,
    0 2px 3px rgba(255, 255, 255, 0.25) inset;
  border-radius: 20px;
}

.pb-pur {
  background-color: rgba(130, 106, 237, 0.6);
}

.pb-blu {
  background-color: rgba(49, 133, 252, 0.51);
}

.pb-grn {
  background-color: rgba(83, 153, 135, 0.55);
}

.pen-title {
  position: absolute ;
  width: 100%;
  top: 1%;
  margin: 0;
  align-text: center;
  background: rgba(0,0,0,0);
  font-size: clamp(14px, 1.5vw, 20px);
}

.pen-footer {
  position: absolute;
  width: 60%;
  margin: 0;
  margin-left: 20%;
  bottom: 0;
  color: #777;
  align-text: center;
  background: rgba(0,0,0,0);
  font-size: clamp(8px, 1vw, 10px);
}